<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeController</servlet-name>
        <servlet-class>controller.AdminHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>controller.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewController</servlet-name>
        <servlet-class>controller.AddNewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmController</servlet-name>
        <servlet-class>controller.ConfirmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowConfirmController</servlet-name>
        <servlet-class>controller.ShowConfirmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteConfirmController</servlet-name>
        <servlet-class>controller.DeleteConfirmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateConfirmController</servlet-name>
        <servlet-class>controller.UpdateConfirmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToPromotionListController</servlet-name>
        <servlet-class>controller.AddToPromotionListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPromotionListController</servlet-name>
        <servlet-class>controller.ShowPromotionListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePromotionController</servlet-name>
        <servlet-class>controller.DeletePromotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePromotionController</servlet-name>
        <servlet-class>controller.UpdatePromotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHomeController</servlet-name>
        <servlet-class>controller.UserHomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeController</servlet-name>
        <url-pattern>/AdminHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewController</servlet-name>
        <url-pattern>/AddNewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmController</servlet-name>
        <url-pattern>/ConfirmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowConfirmController</servlet-name>
        <url-pattern>/ShowConfirmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteConfirmController</servlet-name>
        <url-pattern>/DeleteConfirmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateConfirmController</servlet-name>
        <url-pattern>/UpdateConfirmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToPromotionListController</servlet-name>
        <url-pattern>/AddToPromotionListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPromotionListController</servlet-name>
        <url-pattern>/ShowPromotionListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePromotionController</servlet-name>
        <url-pattern>/DeletePromotionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePromotionController</servlet-name>
        <url-pattern>/UpdatePromotionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHomeController</servlet-name>
        <url-pattern>/UserHomeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
